html,
body {
    width: 100%;
    background: #ffff;
    margin: 0;
}

/* header css */
.header {
    height: 100px;
    background-color: #FEFBF3;

    padding-left: 10.5vw;
    padding-right: 10.5vw;

    /* 좌우 정렬*/
    display: flex;
    justify-content: flex-start;

    /* 수직 정렬 */
    align-items: center;

    /* footer a태그 재정의 */
    a:link {
        color : black;
        text-decoration: none;
    }
    a:visited {
        color : black;
        text-decoration: none;
    }
    a:hover {
        color : gray;
        text-decoration: none;
    }
    a:active {
        color : gray;
        text-decoration: none;
    }
}

.header span {
    /* 좌우 정렬*/
    display: flex;
    justify-content: flex-start;

    /* 수직 정렬 */
    align-items: center;
}

.header .left-box {
    float:left;

    font-size: 27px;
    font-weight: bold;
    color: black;
}

.header .right-box {
    display: flex;
    margin-left: auto;

    align-items: center;

    font-size: 25px;
    font-weight: bold;
    color: #ffff;
}

.header .right-box .write-button {
    width: 137px;
    height: 45px;

    background-color: #6D6045;

    border-radius: 25px;

    /* 좌우 정렬*/
    display: flex;
    justify-content: center;

    /* 수직 정렬 */
    align-items: center;
}

.header .right-box .write-button p {
    margin: 0;

    font-size: 25px;
    font-weight: bold;
    color: #ffff;
}