body{
    box-sizing: border-box;
    margin: 0px;
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}

.comment-container{

}
.comment-text-container{

}
.comment-count-box{

}
.comment-count{

}
.comment-text-box{

}
.c-text{

}
.c-file{

}
.c-btn{

}


.comment-list-container{

}
.comment-content-container{

}
.row-box{

}
.reply-btn{

}
.upvote-btn{

}
.downvote-btn{

}