<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>구해줘멍냥</title>
    <link rel="stylesheet" type="text/css" href="/comment/comment.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/comment/comment.js"></script>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>

<div class="comment-wrapper">
    <div class="comment-container">
        <div class="comment-text-container">
            <div class="comment-count-box">
                댓글<span class="comment-count">4</span>
            </div>
            <div class="comment-text-box">
                <form method="POST" action="/api/comment" class="context-text-form">
                    <textarea name="content" class="c-text" cols="30" rows="5"
                              placeholder="댓글을 입력하세요"></textarea>
                    <button class="c-file"><img src="/static/img/camera_img.png" class="camera-img">사진첨부</button>
                    <button class="c-btn">등록</button>
                </form>
            </div>
        </div>
        <div class="comment-list-container">
            <div class="comment-content-container">
                <div class="row-box comment-header">
                    <div class="commnet-name-box">
                        <img src ="/static/img/miao.jpg" class="comment-profile">
                        <span class="commnet-name">냔냔펑치</span>
                    </div>
                    <div class="comment-day">2024.03.09</div>
                </div>
                <div class="row-box comment-article" >
                    <div>냥젤리가 세상을 구한다</div>
                </div>
                <div class="row-box comment-footer">
                    <input type="button" value="댓글" class="reply-btn">
                    <input type="button" value="좋아요" class="upvote-btn">
                    <input type="button" value="싫어요" class="downvote-btn">
                </div>
            </div>
            <div class="comment-content-container">
                <div class="row-box comment-header">
                    <div class="commnet-name-box">
                        <img src ="/static/img/lucy.png" class="comment-profile">
                        <span class="commnet-name">LUCY</span>
                    </div>
                    <div class="comment-day">2024.03.09</div>
                </div>
                <div class="row-box comment-article" >
                    <div>악기가 제 반려동물이에요</div>
                </div>
                <div class="row-box comment-footer">
                    <input type="button" value="댓글" class="reply-btn">
                    <input type="button" value="좋아요" class="upvote-btn">
                    <input type="button" value="싫어요" class="downvote-btn">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>