<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>구해줘멍냥</title>
    <link rel="stylesheet" type="text/css" href="/static/comment/comment.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/comment/comment2.js"></script>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>

<div class="comment-wrapper">
    <div class="comment-container">
        <div class="comment-text-container">
            <div class="comment-count-box">
                댓글<span class="comment-count">4</span>
            </div>
            <div class="comment-text-box">
                <div class="context-text-form">
                    <textarea name="content" class="c-text" cols="30" rows="5"
                              id = "comment_content"
                              placeholder="댓글을 입력하세요"></textarea>
                    <button class="c-file"><img src="/static/img/camera_img.png" class="camera-img">사진첨부</button>
                    <button class="c-btn" id="comment_submit">등록</button>
                </div>
            </div>
        </div>
        <div class="comment-list-container" id="comment_list"> <!-- 댓글 리스트 -->
        </div>
    </div>
</div>

</body>
</html>