<head>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="/static/header/style.css"/>
  <!--  <script src="/static/header/header.js" type="module" defer></script>-->
</head>
<header class="header" id="header-fragment">
  <div class="left-box"><span>
    <a href="/"><img src="../static/img/logo.png" width="100px" height="82.5px"/></a>
    <a href="/" style="margin-left: 100px"><p >홈</p></a>
    <a href="/categories" style="margin-left: 100px"><p>쇼핑</p></a>
    <a href="/animal" style="margin-left: 100px"><p>분양</p></a>
    <a href="/communities" style="margin-left: 100px"><p>커뮤니티</p></a>
  </span></div>

  <div class="right-box">
    <a href="/login" class="index-login" id="index-login"><p id="login">로그인</p></a>
    <a href="/cart" class="write-button" id="index-register"><p>장바구니</p></a>
  </div>
  <script>
    window.onload=function (){
      const token = localStorage.getItem("token");
      if(token==null){
        return;
      }
      $("#login").text("마이 페이지");
      document.getElementById("index-login").href = "/mypage";
    }
  </script>
</header>
