<head>
  <link rel="stylesheet" href="/static/header/style.css" />
</head>
<header class="header">
  <div class="left-box"><span>
    <a href=""><img src="/static/img/logo.png" width="100px" height="82.5px"/></a>
    <a href="" style="margin-left: 100px"><p >홈</p></a>
    <a href="" style="margin-left: 100px"><p>쇼핑</p></a>
    <a href="" style="margin-left: 100px"><p>콘텐츠</p></a>
    <a href="" style="margin-left: 100px"><p>커뮤니티</p></a>
  </span></div>

  <div class="right-box">
    <a href="" class="write-button"><p>글쓰기</p></a>
  </div>
</header>