<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>구해줘멍냥</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 아이콘 -->
    <!-- 폰트 어썸: 아이콘 -->
    <!-- Daum 주소 API 사용하기 위한 파일 -->
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="/static/order_success/style.css" />
    <script src="/static/order_success/order_success.js"></script>
</head>
<body>
  <div id="header"></div>

  <div class="container">
    <div class="top-content">
      <p class="font-title">주문이 <span style="color: #F0AB0F;">정상적으로 처리</span>되었습니다.</p>
    </div>

    <div class="middle-content">
      <div class="left-box">
        <p class="font-large">주문내역</p>
        <div class="box" id="orderHistory" style="height: 310px;">
        </div>
      </div>

      <div class="right-box">
        <p class="font-large">결제내역</p>
        <div class="box">
          <div class="order-detail">
            <div class="static">
              <p class="font-middle">주문 금액</p>
              <p class="font-middle">결제 상세</p>
            </div>

            <div class="dynamic" id="payment">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-content">
      <div class="column">
      <article style="margin-top: 100px; width: 100%;">
        <p class="font-large">주문상품</p>
        <div class="box" id="order-items-box">
        </div>
      </article>
      </div>

      <div class="column" style="margin-top: 100px">
        <a class="home-button" href="/">
          <p>쇼핑 홈 가기</p>
        </a>
      </div>
    </div>
  </div>

  <div id="footer"></div>
  <script>
    $(function () {
      $("#header").load("../header.html");
      $("#footer").load("../footer.html");
    })
  </script>
</body>
</html>