html,
body {
  width: 100%;
  background: #ffff;
  margin: 0;
}

input[type=radio] {display: none; margin:10px;}

.font-large {
  font-size: 27px;
  font-weight: bold;

  margin: 8px;
}

.font-middle {
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}

/* content css */
.container {
  padding-left: 10.5vw;
  padding-right: 10.5vw;

  margin-top: 100px;
  margin-bottom: 100px;

  /* 좌우 정렬*/
  display: flex;
  justify-content: flex-start;
}

.container .left-box {
  width: 47vw;

  float:left;
}

.container .left-box .box {
  width: 47vw;
  border: 1px solid #E4E4E6;
  border-radius: 25px;

  /*!* 좌우 정렬*!*/
  /*display: flex;*/
  /*justify-content: flex-start;*/
}

/*.container .left-box .box .static {*/

/*  float:left;*/
/*}*/

/*.container .left-box .box .dynamic {*/

/*  margin-left: 0;*/
/*}*/

.container .left-box .box .column {
  display: flex;

  position: relative;
}

.container .left-box .box .item {

  margin: 25px;

  /* 좌우 정렬*/
  display: flex;
  justify-content: flex-start;

  /* 수직 정렬 */
  align-items: center;
}

.container .left-box .box .item .img {
  width: 150px;
  height: 150px;
  overflow:hidden;
}

.container .left-box .box .item .img .image-thumbnail {
  width:100%;
  height:100%;
  object-fit:cover;
}

.container .right-box {
  width: 30vw;

  margin-left: auto;
}

.container .right-box .box {
  width: 30vw;
  border: 1px solid #E4E4E6;
  border-radius: 25px;
}

.container .right-box .box .order-detail {
  /* 좌우 정렬 */
  display: flex;
  justify-content: space-between;
}

.container .right-box .box .static {
}

.container .right-box .box .dynamic {
}

.container .right-box .box {
  width: 30vw;
  border: 1px solid #E4E4E6;
  border-radius: 25px;
}

.container .right-box .box .total-price {
  margin: 25px;
  /* 좌우 정렬 */
  display: flex;
  justify-content: space-between;
}

.container .right-box .box .total-price p {
  margin: 0;
}

.container .right-box .box .column {
  height: 60px;

  margin: 25px;

  /* 좌우 정렬 */
  display: flex;
  justify-content: space-between;
}

label>div {
  width: 8vw;
  height: 50px;
  border: 1px solid #E4E4E6;
  border-radius: 10px;

  /* 좌우 정렬*/
  display: flex;
  justify-content: center;

  /* 수직 정렬 */
  align-items: center;

  font-size: 16px;
  font-weight: bold;
}

label>input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

label>input:checked+div {
  border: 1px solid #F0AB0F;
}

.container .right-box .box .order-column {
  margin-top: 35px;
  margin-bottom: 25px;

  /* 좌우 정렬*/
  display: flex;
  justify-content: center;

  /* 수직 정렬 */
  align-items: center;

  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.container .right-box .box .order-column .order-button {
  width: 300px;
  height: 75px;

  background-color: #F0AB0F;
  border-radius: 10px;

  border:none;

  /* 좌우 정렬*/
  display: flex;
  justify-content: center;

  /* 수직 정렬 */
  align-items: center;

  color: white;
  font-size: 27px;
  font-weight: bold;
}